{{#each results as |result|}}
  <div class="row google-row">
    <div class="col-xs-3 search-image" data-id="image-{{result.cacheId}}"></div>
    <div class="col-xs-1 search-space"></div>
    <div class="col-xs-8 search-info">
      <div class="row"><div class="col-xs-12 search-title" id="search-title-{{result.cacheId}}">{{result.title}}</div></div>
      <div class="row"><div class="col-xs-12 search-link"><a id="search-link-{{result.cacheId}}" href="{{result.link}}" target="_blank">{{result.link}}</a></div></div>
      <div class="row"><div class="col-xs-12 search-snippet" id="search-snippet-{{result.cacheId}}">{{result.snippet}}</div></div>
    </div>
  </div>
{{/each}}
